@{
    ViewBag.Title = "About Us";
}
@*<h2>@ViewBag.Title.</h2>*@

<section id="aboutus">
    <div class="container">
        <div class="pages-box">
            <div class="row topic-head text-center">
                <div class="col-12">
                    <h3>Welcome to Gharbhetibaa</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                        You've got big plans. Maybe you're moving for work, or traveling just because—but wherever you're headed, an old-school, yearlong lease won't cut it anymore. That's why we're here. We wake up every morning to help you find flexible, affordable housing and connect with roommates who make the big city feel like home.
                    </p>

                    <p>
                        Gharbhetibaa allows people to search and book properties from available property list via online presence. The properties are displayed in categorical lists where clients can search the property that best suits their budget range as well as location.
                    </p>
                    <p>
                        Gharbhetibaa will completely reduce the old tiresome process of physical travel for the search of room, flat, building etc. Without such burden, the clients will get all facilities of gharbhetiaa in a single click.
                    </p>
                    <p>
                        Gharbhetibaa offers clients to set preferences for location as well as budget, as per their need. Property owners can post, manage and modify properties from their free accounts. In addition to this, the property owners can also view the list of the applicants and tag the property status to ‘Booked’.
                    </p>
                    <p>
                        Gharbhetibaa is a facilitator that provides dedicated service to property owners and tenants. Gharbhetibaa is here for you, to provide efficient rental solution in this hectic busy schedule of modern day lifestyle.
                    </p>
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h4>5 Ideas We Live By</h4>
                </div>

                <div class="col-md-6 aboutus-card">
                    <h5>Serve First</h5>
                    <p>Everything we do at Roomi, we do for you. Got a question? Found a bug we should know about? Let us know at hello@roomiapp.com. (And yes, there are real people on the other end.)</p>
                </div>

                <div class="col-md-6 aboutus-card">
                    <h5>Stay Focused</h5>
                    <p>It's easy to get carried away with great ideas—but we'd rather bring you a few game-changing tools than a whole lot of mediocre ones. That's why we promise to get our current features right before we build something new.</p>
                </div>

                <div class="col-md-6 aboutus-card">
                    <h5>Never Settle</h5>
                    <p>We're working toward a future where flexible, affordable shared living is the norm. We've got a long way to go, but with your support, we get closer every day.</p>
                </div>

                <div class="col-md-6 aboutus-card">
                    <h5>Be Transparent</h5>
                    <p>In a world of shady listings, we built Roomi to be a breath of fresh air. We strive for transparency in everything we do, which sometimes means owning up to our mistakes. You deserve that from us.</p>
                </div>

                <div class="col-md-6 aboutus-card">
                    <h5>Empower Renters</h5>
                    <p>It's your life, and your home. That's why we gave you the power to search by shared interests, amenities, move-in date—in short, by all the things that matter most to you.</p>
                </div>
            </div>
        </div>
    </div>
</section>