
@{
    ViewBag.Title = "How can we help?";
}

<div id="needhelp">
    <div class="container">
        <div class="pages-box">
            <div class="row topic-head text-center">
                <div class="col-12">
                    <h3>How can we help?</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#cost" class="a-primary">How much does it cost?</a>
                </div>
                <div class="col-md-4">
                    <a href="#find" class="a-primary">Can you find me a room or a flatmate?</a>
                </div>
                <div class="col-md-4">
                    <a href="#contact" class="a-primary">Contacting Landlords</a>
                </div>
                <div class="col-md-4">
                    <a href="#search" class="a-primary">Searching for a room</a>
                </div>
                <div class="col-md-4">
                    <a href="#post" class="a-primary">Posting a room</a>
                </div>
                <div class="col-md-4">
                    <a href="#contactus" class="a-primary">Contact us page</a>
                </div>
            </div>
            <hr />
            <div class="row" id="cost">
                <div class="col-sm-12">
                    <h4>How much does it cost?</h4>
                    <p>
                        It’s free to advertise your room with us.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row" id="find">
                <div class="col-sm-12">
                    <h4>Can you find me a room or a flatmate?</h4>
                    <p>
                        Finding a room or a flatmate is not always easy when you have to do it by yourself. Luckily, Roomgo is here to help.
                    </p>
                    <p>
                        Roomgo is a classified website which allows people looking for or offering rooms to post ads and contact each other. As we are not an agency, we cannot book a your room for you nor organise visits.
                    </p>
                    <p>
                        We will provide you with all of the tools you will need to search for an accommodation or a flatmate, contact advertisers and find what you are looking for.
                    </p>
                    <p>
                        Once you’ve posted your ad or search profile, you will have access to a full list of potential matches. For your convenience, you can enter an address, a street name, a metro station,etc and select a search radius around that point. The ads and profiles will be ordered from the closest to the farthest from that point, but you can also sort them from the newest to the oldest.
                    </p>
                    <p>
                        We will send you daily updates on the newest rooms or profiles matching your search criteria. This works both ways of course – we will also send your ad to other users matching what you’re looking for so that they can make you a great offer!
                    </p>
                    <p>
                        That’s a big part of the work done for you. Now all you need to do is select the rooms you like and get in contact with the advertiser.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row" id="contact">
                <div class="col-sm-12">
                    <h4>Contacting Landlords</h4>
                    <p>
                        To contact advertisers, you have a couple of options
                    </p>
                    <ul>
                        <li>
                            Send Quick Interest – this is a quick way of letting the advertiser know that you are interested in their room. We will send them your profile and a note saying that you like their room. If it’s really the perfect place, you might want to consider sending a message or calling to ensure you don’t miss out!
                        </li>
                        <li>
                            Send a Message – Send the advertiser a personal message. It’s a great way to introduce yourself, share contact details and find out more about the room.
                        </li>
                        <li>
                            Make a direct Call - Users often have preferred contact methods, so the contact options available are not always the same. If the user has chosen to display their personal phone number, it will be displayed in the contact area of their ad.
                        </li>
                    </ul>

                    <h5>Why should I contact advertisers?</h5>
                    <p>
                        Living in shared accommodation is very different from private accommodation. Sharing facilities and living spaces means that it's important to find the flatshare that's the right fit for you.
                    </p>
                    <p>
                        Looking for your room online can be a remote experience. The best way to connect with others, get to know your potential roommates or landlord and find your room is to get in contact with those advertising.
                    </p>
                    <p>
                        When you see a room you like, send the advertiser a message or give them a call.
                    </p>
                    <p>
                        Our experience in this field has shown that proactive members achieve better and quicker results, compared to those who wait.
                    </p>
                    <p>
                        Roomgo is a community and all of our advertisers are with us to find a room or a roommate. There’s nothing to lose!
                    </p>
                </div>
            </div>
            <hr />
            <div class="row" id="search">
                <div class="col-sm-12">
                    <h4>Searching for a room</h4>
                    <p>
                        To access the Map Search, simply go to the  Search page on your account.
                    </p>
                    <p>
                        Once the map is opened, you will find the list of available rooms and filters on the left and the map on the right. On the map tags, you can see the price and location with a colour representing the Basic (green) or Premium (blue) advertisers.
                    </p>
                    <p>
                        Click on the tag to get the details of the room and in case you are interested, click on the picture to view the whole ad and contact the advertiser.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row" id="post">
                <div class="col-sm-12">
                    <h4>Posting a room</h4>
                    <p>
                        Your Easyroommate ad is the key to filling your room.
                    </p>
                    <p>
                        To create your ad, from the homepage click on " Post your room", you will be directed through to the sign-up and posting forms.
                    </p>
                    <p>
                        A complete and detailed description is really important as it is going to sell what you have to offer and describe the roommate you are looking for. Advertisers with no description or images of their room are less likely to fill their room with us. For more information on how to write a successful ad, read our article "Editing your ad"
                    </p>
                </div>
            </div>
            <hr />
            <div class="row" id="contactus">
                <div class="col-sm-12">
                    <h4>Contact us page</h4>
                    <p>
                        Use our contact form to send us your question or comment.
                        @Html.ActionLink("Click here.", "ContactUs", "Home", null, new { @class = "a-feature" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>