
@{
    ViewBag.Title = "Privacy Policy";
}

<section id="privacy">
    <div class="container">
        <div class="pages-box">
            <div class="row topic-head text-center">
                <div class="col-12">
                    <h3>Privacy Policy</h3>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>
                        We are committed to safeguarding and protecting your privacy as you use our website. We want your time using our services to be safe, enjoyable and productive. This Privacy Policy outlines our use of any personal information you provide to us through using our site.
                    </p>
                    <p>
                        Any and all information collected through this site or via any emails you send us will be kept confidential. It will not be sold, rented, traded, loaned, or otherwise disclosed to any other party unless we receive your explicit consent.
                    </p>
                    
                    <p>
                        This privacy policy will explain:
                    </p>
                    <ul>
                        <li>what information we may collect about you</li>
                        <li>how we will use information we collect about you</li>
                        <li>when we may use your details to contact you</li>
                        <li>whether we will ever disclose your details to anyone else</li>
                        <li>your choices regarding the personal information you have provided to us</li>
                        <li>the use of cookies on our websites</li>
                    </ul>

                    <hr />
                    <h4>1. WHAT INFORMATION WILL WE COLLECT ABOUT YOU?</h4>
                    <p>
                        When you sign up to participate in our service we will ask for information about you and your properties (if applicable).
                    </p>
                    <p>
                        You need to enter this information in order to enable us to provide you with the service you require.
                    </p>
                  

                    <hr />
                    <h4>2. HOW WILL WE USE THE INFORMATION WE COLLECT ABOUT YOU?</h4>
                    <p>
                        We will use your personal information for a number of purposes including the following:
                    </p>
                    <ul>
                        <li>Search for matches to your profile</li>
                        <li>Display your profile in other peoples searches</li>
                    </ul>

                    <hr />
                    <h4>3. WHEN WILL WE USE YOUR INFORMATION TO CONTACT YOU?</h4>
                    <p>
                        We may contact you in the following situations:
                    </p>
                    <ul>
                        <li>in order to deliver you with the service you have signed up for (e.g notify you of matches, messages, password reminders)</li>
                        <li>where you have opted to receive further correspondence (e.g newsletters)</li>
                        <li>to invite you to participate in surveys about our services (participation is always voluntary)</li>
                        <li>for marketing purposes where you have specifically agreed to this (see point 4)</li>
                    </ul>

                    <hr />
                    <h4>4. WILL I BE CONTACTED FOR MARKETING PURPOSES?</h4>
                    <p>
                        We will not contact you for marketing purposes, or promote any new services to you unless you specifically agree to be contacted for these purposes.
                    </p>

                    <hr />
                    <h4>5. INFORMATION SHARING</h4>
                    <p>
                        Any and all information collected through this site or via any emails you send us will be kept confidential. It will not be sold, rented, traded, loaned, or otherwise disclosed to any other party unless we receive your explicit consent. The only exceptions would be if we were required by law to disclose your information.
                    </p>

                    <hr />
                    <h4>6. HOW LONG WILL WE KEEP YOUR PERSONAL INFORMATION</h4>
                    <p>
                        We are required to hold your personal information in our systems for as long as is necessary for the service you have signed up to.
                    </p>
                    <p>
                        If you wish us to remove the personal information we hold about you then you would be required to cancel your account (which would delete all of your ads, profile and messages). Once you do this your account is flagged as deleted in the database and while we will not use the personal information, it stays on the system for a period of one year for administration / security purposes before being deleted permanently.
                    </p>
                    <p>
                        Even once the information has been deleted, we will still have a log of the invoices raised via the self billing procedure and these will be kept for as long as is required by HM Revenue & Customs.
                    </p>

                    <hr />
                    <h4>7. CHANGES TO THE PRIVACY POLICY</h4>
                    <p>
                        This privacy policy may be updated from time to time so you may wish to check it each time you submit personal information to any of our websites. The date of the most recent revisions will appear on this page.
                    </p>

                    <hr />
                    <h4>8. COLLECTION OF NON-PERSONAL INFORMATION</h4>
                    <p>
                        Information that is not personally identifiable may be collected and stored for site statistics and research to make our website more usable. This may include information such as details on your browser and operating system, IP address, domain and host names, and date and time of access. This information is not shared with any third parties except in the preparation of statistical reports.
                    </p>

                    <hr />
                    <h4>9. COOKIES</h4>
                    <p>
                        We currently use temporary cookies to enable the site to recognise if you are signed-in. We do not use any persistent cookies and any temporary cookies will remain until you close your browser window.
                    </p>

                    <hr />
                    <h4>10. CONTACT US</h4>
                    <p>
                        If you have any questions or concerns then please
                        @Html.ActionLink("Contact Us", "Contact", "Home", new { @class = "a-primary" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

