
@{
    ViewBag.Title = "Terms and Conditions";
}

<section id="terms">
    <div class="container">
        <div class="pages-box">
            <div class="row topic-head text-center">
                <div class="col-12">
                    <h3>Terms and Conditions</h3>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>
                        By registering for an account with this website, you enter into a contract with us on the following conditions, which includes conditions limiting our liability and relating to our use of your personal information. This contract is just for the use of our website and separate to any arrangement you may have with any other organisation for providing internet services.
                    </p>

                    <hr />
                    <h4>DEFINITIONS</h4>
                    <p>
                        The following words marked in bold will have specific meanings in this contract.
                    </p>
                    <p>
                        'cancel' - Cancelling your account means this contract ends. Your account and all data (excluding details of any payments made) will be deleted.
                    </p>
                    <p>
                        'account' – This is the account you create in order to signup to this partner site.
                    </p>
                    <p>
                        ‘member’ – You are a member
                    </p>
                    <p>
                        'personal data' - Any information about an identifiable living person (for example, your name, address or phone number).
                    </p>
                    <p>
                        'we', 'us', 'our' – Gharbhetibaa.com
                    </p>
                    <p>
                        'you', 'your' - The person who is entering into this contract with us and who the account will be registered to.
                    </p>
                    <p>
                        ‘website’ – This refers to the website you are currently using.
                    </p>

                    <hr />
                    <h4>1. TERMS OF THE AGREEMENT</h4>
                    <p>
                        The terms outlined in this agreement will start as soon as you create an account on this website. This agreement can be terminated by either party at any time, with or without cause.
                    </p>

                    <h5>1.1. OUR RESPONSIBILITIES (WHAT WE WILL DO)</h5>
                    <p>
                        Please note that our service is an introductory service only. We make no guarantees and accept no responsibility for the condition or quality of adverts. It is an individual's responsibility to make all suitable checks and ensure a suitable contract when agreeing to rent a room.
                    </p>
                    <p>
                        This website has been set up for the purpose of matching people looking for properties. Our site has been created so that all matches will be as exact as possible based on the given criteria and profiles.
                    </p>
                    <p>
                        What we do (among other things):
                    </p>
                    <ul>
                        <li>Processing your application to register a new account</li>
                        <li>Matching criteria to find you the best match possible</li>
                        <li>Maintaining overall membership</li>
                        <li>Processing upgrades to membership</li>
                        <li>Monitor and moderate all posts to keep you safer</li>
                        <li>Process and monitor all payments made</li>
                        <li>Provide customer support</li>
                    </ul>

                    <h5>1.2. YOUR RESPONSIBILITIES</h5>
                    <p>
                        You have various responsibilities set out generally in this contract. You must give and keep us notified of your correct name and e-mail address. You must also make sure that all information you supply in relation to your account is accurate and not misleading in any way.
                    </p>
                    <ul>
                        <li>Enter full and correct information in your profile and adverts</li>
                        <li>Don’t upload explicit or illegal information or images</li>
                        <li>Do not spam other members</li>
                        <li>Do not promote or link to any competitor sites</li>
                        <li>Be vigilant and report suspect users</li>
                        <li>Read our keeping safe and fraud pages</li>
                    </ul>

                    <hr />
                    <h4>2. INFORMATION ON THE SITE</h4>
                    <p>
                        We do not endorse any of the listings on our site; we do not make any representations as to individual character, credit rating, rental or credit history or a person’s ability to pay rent or provide accommodation. We encourage people to report suspect profiles on our web site which we will thoroughly investigate.
                    </p>

                    <hr />
                    <h4>3. DISPUTES</h4>
                    <p>
                        We take all disputes and complaints seriously, we will do our best to handle member disputes and complaints. This section of the agreement will outline what we will and will not deal with.
                    </p>
                    <p>
                        We will try to solve any disputes or disagreements with members and partners as quickly and efficiently as possible.
                    </p>
                    <p>
                        We take all complaints very seriously and will deal with the matter urgently.
                    </p>
                   
                 
                    <p>
                        If you suspect a member is acting in a fraudulent way then we will investigate this to the maximum of our powers. However, any disputes you have with members on the site that fall outside of our remit will need to be handled by yourself and if necessary with the help of the police.
                    </p>
                    

                    <hr />
                    <h4>4. ACCOUNT SUSPENSION AND TERMINATION</h4>
                    <p>
                        You can terminate your account at any time for any reason. If you select to have all of your information removed then all messages, sent and received will be removed also and you will no longer be able to access this information.
                    </p>
                    <p>
                        We will suspend your account if you are suspected of any of the following activities.
                    </p>

                    <h5>4.1. POST OFFENSIVE OR ILLEGAL CONTENT</h5>
                    <p>
                        You must not post any offensive or illegal content within your profile or in your messages to other members. This includes but is not restricted to: racism, bigotry, hatred towards any group or individual, information about illegal activates, swear words, discrimination or harassment.
                    </p>

                    <h5>4.2. SPAMMING USERS</h5>
                    <p>
                        If you are reported to be spamming other users then you will have your account suspended or removed. Spamming users is classed as:
                    </p>
                    <p>
                        Sending the same person the same message over and over again
                    </p>
                    <p>
                        Sending people messages if your profile is of no match whatsoever to theirs
                    </p>
                    <p>
                        Sending members messages promoting external websites or services of any kind
                    </p>

                    <h5>4.3. DISPLAY PORNOGRAPHIC OR SEXUALLY EXPLICIT MATERIAL</h5>
                    <p>
                        You must not display any sexually explicit material on your profile, images, videos or in your messages to other members. This includes but is not limited to pornographic images, videos and sound clips.
                    </p>
                    <p>
                        We moderate all of the content and will remove any offensive content including descriptions, photos and videos. We would appreciate your help if you could let us know of any offensive material posted by other members if you notice it.
                    </p>

                    <h5>4.4. TRY TO SOLICIT PASSWORDS OR PERSONAL INFORMATION FROM MEMBERS</h5>
                    <p>
                        If you are reported to be trying to obtain peoples passwords or personal information, such as but not limited to copies of passports, driving licences, pin numbers, usernames or passwords, you will be banned and reported to the police.
                    </p>

                    <h5>4.5. PROVIDE US WITH FALSE INFORMATION</h5>
                    <p>
                        If we receive independent proof, or suspect that you have provided significantly inaccurate, not correct, unreliable or false information on your account, then your account may be suspended.
                    </p>

                    <h5>4.6. BREAK ANY PART OF THIS AGREEMENT</h5>
                    <p>
                        If you break any part of this agreement then your account will be terminated and further action taken if necessary.
                    </p>

                    <h5>4.7. YOUR ACCOUNT IS BEING USED FRAUDULENTLY</h5>
                    <p>
                        If we suspect that your account is being used fraudulently we will terminate the account and block you from using our site again.
                    </p>

                    <hr />
                    <h4>5. FEES AND PAYMENT</h4>
                    <p>
                        Creating a profile on this website is free of charge.
                    </p>

                    <hr />
                    <h4>6. PRIVACY</h4>
                    <p>
                        We will not make your personal data available to any third parties for more information please see our privacy policy.
                    </p>

                    <hr />
                    <h4>7. LIMITATION OF LIABILITY</h4>
                    <p>
                        Your use of this website and service, including your interaction with other members via email, phone or in person, is taken on entirely at your own risk.
                    </p>
                    <p>
                        We do not accept any liability of any sort for the provision of the telecommunications service, or for any faults on their networks or equipment.
                    </p>
                    <p>
                        We cannot be held responsible for any events that transpire through use of our service. It is your responsibility to determine the character and trustworthiness of any prospective tenant or landlord.
                    </p>
                    <p>
                        We have taken steps to ensure your safety, before sending money to anyone please ensure you have read all of our content on the site about keeping safe and fraud prevention.
                    </p>
                    <p>
                        Be careful when arranging to meet landlords, hand over deposits etc.
                    </p>

                    <hr />
                    <h4>8. DISCLAIMERS</h4>
                    <p>
                        Our services are provided as-is, we cannot make any guarantees or promises of results from the use of this service. We offer no warranties or guarantees for the service and as a result you are using it at your own risk. We will operate the service and the website with full due care and attention. Please use common sense when using our service and when dealing with other members on our site.
                    </p>
                    <p>
                        We cannot be held liable for the actions of you or other members on the site.
                    </p>
                    <p>
                        The internet is constantly changing and developing. As a result of this, we reserve the right to make reasonable changes to the terms of this contract at any time during the term of the contract. We will only do so when we have good reason. You should visit our website regularly to find out about any changes.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

