@{
    ViewBag.Title = "Why Use Gharbhetibaa?";
}

<section id="whyuse">
    <div class="container">
        <div class="pages-box">
            <div class="row topic-head text-center">
                <div class="col-12">
                    <h3>Why Gharbhetibaa?</h3>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>
                        Gharbhetibaa helps landlords and tenants to let, rent or manage any kind of shared accommodation, avoiding excessive fees and management hassles. At Gharbhetibaa we care about matching quality.
                    </p>
                    <p>
                        Managing your property has never been so easy, accessible and productive. Stay in control of your earnings, manage your tenancies, revenue and documents with our innovative application.
                    </p>
                    <hr />
                </div>
            </div>


            <div class="row text-center">
                <div class="col-md-6 whyuse-card">
                    <i class="far fa-id-card"></i>
                    <h5>Simple and easy to use</h5>
                    <p>
                        Create your personal profile and
                        get started in minutes! Browse your Perfect Matches, save your favorites and send messages
                        to your top picks... all for free. Want even more?
                    </p>
                </div>
                <div class="col-md-6 whyuse-card">
                    <i class="fas fa-book"></i>
                    <h5>Most important information in your hands</h5>
                    <p>
                        Manage information about properties,
                        tenants and
                        rent
                        fees. Keep important notes like contact information, related photos and documents
                        organized
                        and
                        easily accessible.
                    </p>
                </div>
                <div class="col-md-6 whyuse-card">
                    <i class="fas fa-bookmark"></i>
                    <h5>Keep track of tenant payments</h5>
                    <p>
                        Track rent payments on the go and get detailed tenant balance
                        and
                        payments history. Landlordy supports partial payments as well as advance payments.
                    </p>
                </div>


                <div class="col-md-6 whyuse-card">
                    <i class="fas fa-briefcase"></i>
                    <h5>Always on top of your business</h5>
                    <p>
                        Get instant financial report on your
                        rental income and expenses for any individual property or all of them.
                    </p>
                </div>
                <div class="col-md-6 whyuse-card">
                    <i class="fas fa-handshake"></i>
                    <h5>Meet potential flatmates face to face</h5>
                    <p>
                        You can arrange viewings with people one by one via the site.
                    </p>
                </div>
                <div class="col-md-6 whyuse-card">
                    <i class="fas fa-bullhorn"></i>
                    <h5>Fill a room or find a flatmate quickly and easily</h5>
                    <p>
                        It only takes a few clicks to post an ad or search for a flatshare.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>